@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */

html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */

label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/

.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

/* GENERAL STYLES */

.green-link {
  background-color: #32af96;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.green-link:hover {
  box-shadow: 2px 2px 5px #222;
}

/*=================================
  Header styling starts here
=================================*/

/* HEADER */

.top-header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
}

.header-info-desc {
  display: flex;
  flex-flow: column;
}

.phone-icon:before {  content: "\f095";}
.home-icon:before {  content: "\f015";}
.clock-icon:before {  content: "\f017";}
.icon.cross {  display: none;}
.icon.cross::before {  content: "\f00d ";}

.header-info-item {
  display: flex;
  margin-right: 20px;
}

.header-info-item .fa::before {
  color: #32af96;
  font-size: 2rem;
  padding-right: 20px;
}

.header-info {  display: flex; }
.header-info-desc a {  color: black; }
.header-info-desc span:nth-child(1) {  font-weight: 600; }

.header-info-desc span:nth-child(2),
.header-info-desc span:nth-child(2) a {
  font-size: 0.8rem;
  color: #777;
}

.header-info ul {  display: flex; }

/* MODAL */

.modal {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: block;
  margin: auto;
  height: 300px;
  max-width: 100%;
}

/* NAVBAR */

nav {
  padding: 1.3rem 0;
  background-color: black;
  text-transform: capitalize;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
}

.down-arrow::before {
  content: "\f0d7";
  color: white;
}

nav ul li {
  padding: 0 10px;
  font-weight: 600;
  font-size: 0.9rem;
}

nav ul li a,
nav a span {
  color: white;
}

nav ul li a:hover,
nav ul li a:hover .fa:before,
.nav-icons a span:hover .fa:before {
  color: #32af96;
}

.hamburger-icon {
  border: none;
  display: none;
  outline: none;
  background-color: transparent;
}

.hamburger-icon::before {
  content: "\f0c9";
  color: white;
  background-color: black;
}

.nav li ul.dropdown {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #000;
}

.nav li ul.dropdown li {
  display: block;
}

.nav li ul.dropdown a {
  padding: 5px;
  color: white;
}

.nav-icons a:hover .fa:before {
  color: #32af96;
}

.dropdown-menu:hover ul.dropdown {
  display: block;
}

/* JUMBOTRON */

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/slider.jpg");
  background-size: cover;
  color: white;
  padding: 30px 0;
}

.jumbotron .wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.jumbotron .wrapper * {
  margin: 5px 0;
}

.jumbotron h1 {
  font-size: 6rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.jumbotron-text {
  font-size: 0.9rem;
  text-align: center;
  text-transform: capitalize;
}

.jumbotron-list {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.jumbotron-list li {
  padding: 20px 0px;
  display: flex;
  flex-flow: column;
  flex-basis: 23%;
  justify-content: center;
  background-color: white;
  color: black;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.jumbotron-list li .fa {
  color: #32af96;
  font-size: 5rem;
}

.jumbotron .wrapper .green-link:hover {
  background-color: white;
  color: #32af96;
}

.jumbotron .wrapper .white-link {
  margin-left: 7px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #fff;
  color: #777;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}

.jumbotron .wrapper .white-link:hover {
  background-color: #32af96;
  color: white;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* SERVICES */

.services {
  padding: 100px 0;
}

.services h2 {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.green-underline-middle {
  margin: 10px auto;
  padding: 2px;
  width: 40px;
  background-color: #32af96;
  text-align: center;
}

.services-list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-list li {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  flex-basis: 32%;
  display: flex;
}

.services-list h3 {
  margin: 0 0 10px 0;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.services-list li .fa:before {
  margin-right: 30px;
  padding: 10px;
  border-radius: 50%;
  background-color: #eee;
  font-size: 1.4rem;
}

.services-list .service-desc {
  font-size: 0.9rem;
  color: #777;
}

/* ABOUT US */

.about-us {
  background-color: #f9f9f9;
}

.about-us .wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

.about-us .wrapper > * {
  flex-basis: 50%;
}

.about-desc {
  max-width: 680px;
  margin-left: 6%;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-right: 90px;
  box-sizing: border-box;
}

.about-desc p:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #777;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.about-desc p:nth-child(4) {
  margin: 20px 0;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: #777;
}

.about-us h2 {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.green-underline-left {
  margin: 10px 0;
  padding: 2px;
  width: 40px;
  background-color: #32af96;
}

.about-video {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/video.jpeg");
  background-size: cover;
  background-position: center;
}

.play-icon::before {
  content: "\f01d";
  font-size: 6rem;
  color: white;
}

/* STATISTICS */

.statistics {
  padding: 70px 0;
  background-color: #333;
  color: white;
  text-align: center;
}

.statistics ul {
  display: flex;
  justify-content: space-between;
}

.statistics ul li {
  flex-basis: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.statistics .number {
  margin: 10px 0 20px 0;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.statistics span:nth-child(3) {
  color: #ccc;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.statistics .fa:before {
  color: #32af96;
  font-size: 3rem;
}

/* INFO */

.info {
  padding: 100px 0;
}

.info .wrapper {
  display: flex;
  justify-content: space-between;
}

.info h2 {
  margin-bottom: 30px;
  color: #333333;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.info .wrapper > * {
  flex-basis: 48%;
}

.special ul {
  display: flex;
  flex-flow: column;
}

.accordian-header {
  display: flex;
  width: 100%;
}

.accordian-header .right-arrow {
  background-color: #eee;
  display: flex;
  align-items: center;
}

.accordian-header .right-arrow::before {
  font-size: 0.9rem;
  padding: 0 25px;
}

.accordian-header h3 {
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  font-weight: 600;
  flex-grow: 1;
  text-transform: uppercase;
}

.accordian-header h3 .icon {
  margin-right: 10px;
}

.special ul li .icon {
  font-size: 1.7rem;
  color: #bbb;
}

.accordian-content {
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #777;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.news-stories {
  display: flex;
  justify-content: space-between;
}

.news-stories li {
  border: 1px solid #ccc;
  flex-basis: 48%;
}

.news-content {
  padding: 15px;
  color: #777;
  font-size: 0.9rem;
}

.news-content date {
  font-size: 1rem;
}

.news-content * {
  margin: 5px 0;
}

.news-content p {
  line-height: 1.5rem;
}

.news-content .fa:before {
  color: #32af96;
}

.news-content h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.news-content .read-more {
  color: #777;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.news-content .read-more .fa:before {
  color: #777;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/* ICONS  */

.icon {
  font-family: FontAwesome;
}

.truck-icon:before {
  content: "\f0d1";
}

.bag-icon:before {
  content: "\f290 ";
  color: white;
  font-size: 1.2rem;
}

.bag-icon:before:hover {
  color: #32af96;
}

.search-icon:before {
  margin-left: 5px;
  color: white;
  font-size: 1.2rem;
  content: "\f002 ";
}

.boat-icon:before {
  content: "\f21a";
}

.flight-icon:before {
  content: "\f072 ";
}

.storage-icon:before {
  content: "\f233 ";
}

.car-icon:before {
  content: "\f1b9 ";
}

.industry-icon:before {
  content: "\f275 ";
}

.world-icon:before {
  content: "\f0ac ";
}

.cubes-icon:before {
  content: "\f1b3  ";
}

.people-icon:before {
  content: "\f0c0  ";
}

.like-icon:before {
  content: "\f164  ";
}

.smiley-icon:before {
  content: "\f118  ";
}

.right-arrow:before {
  content: "\f061";
}

/*media query starts*/

/*media query for 995px starts here*/

/* 1024px, 995px, 767px, 540px, 480px */

@media only screen and (max-width: 995px) {
  .top-header {
    flex-wrap: wrap;
  }
  .header-info {
    margin-top: 20px;
    flex-wrap: wrap;
  }
  nav ul {
    height: 100%;
    max-width: 50%;
    padding: 20px;
    padding-top: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
    transform: translateX(-100%);
  }
  nav {
    position: relative;
  }
  .backdrop {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin: 5px 0;
  }
  .hamburger-icon {
    display: block;
  }
  .jumbotron h1 {
    font-size: 4.5rem;
  }
  .dropdown-menu:hover ul.dropdown {
    display: none;
  }
  .services-list li {
    flex-basis: 48%;
  }
  .info {
    padding: 50px 0;
  }
  .info .wrapper {
    flex-wrap: wrap;
  }
  .info .wrapper > * {
    flex-basis: 100%;
  }
  .info .wrapper h2 {
    margin-top: 30px;
    /* font-size: 1.7rem; */
  }
}

@media only screen and (max-width: 768px) {
  .header-info .green-link {
    margin-top: 10px;
  }
  .hamburger-icon {
    display: block;
  }
  .jumbotron h1 {
    font-size: 3rem;
  }
  .jumbotron-list li .fa {
    font-size: 3rem;
  }
  .jumbotron-list {
    flex-wrap: wrap;
  }
  .jumbotron-list li {
    flex-basis: 45%;
    font-size: 0.9rem;
  }
  .about-us .wrapper {
    flex-wrap: wrap;
  }
  .about-us .wrapper .about-desc {
    flex-basis: 86%;
  }
  .about-us .wrapper .about-video {
    height: 400px;
    flex-basis: 100%;
  }
  .services-list li {
    flex-basis: 100%;
  }
  .statistics ul {
    flex-wrap: wrap;
  }
  .statistics ul li {
    flex-basis: 45%;
    margin-top: 20px;
  }
  .info {
    padding: 50px 0;
  }
  .info .wrapper {
    flex-wrap: wrap;
  }
  .info .wrapper h2 {
    margin-top: 30px;
    font-size: 1.7rem;
  }
  .info .wrapper > * {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .header-info ul {
    flex-wrap: wrap;
  }
  .header-info ul li {
    margin-top: 5px;
  }
  .jumbotron h1 {
    font-size: 2.5rem;
  }
  .jumbotron-text {
    font-size: 0.8rem;
    text-align: center;
  }
  .services-list li {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .jumbotron h1 {
    font-size: 2rem;
  }
  .accordian-header h3 {
    display: flex;
  }
}
